.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator-container {
    width: 180px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
}

.calculator-display {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px #000000;
    z-index: 2;
}

.calculator-keys-row {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
}

.calculator-keys-row:last-child {
    margin-bottom: 0;
}

.calculator-keys {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px #000000;
    z-index: 1;
}

.calculator-key {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 10px;
    /* box-shadow: 0px 0px 10px #000000; */
}

.key-clear,
.key-sign,
.key-percent,
.key-divide,
.key-seven,
.key-eight,
.key-nine,
.key-multiply,
.key-four,
.key-five,
.key-six,
.key-subtract,
.key-one,
.key-two,
.key-three,
.key-add,
.key-zero,
.key-decimal,
.key-delete,
.key-equals {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 10px;
    /* box-shadow: 0px 0px 10px #000000; */
}
